@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #E6D2AA; /* #edf2f8F9CEEE */
  --secondary-color: #42032C; /* #313bac */
  --black-color: #000000; /* #030303 */
  --lightGray-color: #F9F3EE; /* #e4e4e4 */
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}